// list of array is store question ans there option
/* const QuizDB=[
     {
         question: "1)  What is 2+2= ?",
         lst:[4,5,6,7],
         ans: "4"
     },
     {
         question: "2)  What is 2+3= ?",
         lst:[5,6,7],
         ans: "5"
     },
     {
         question: "3)  What is 2+4= ?",
         lst:[9,5,6,7],
         ans: "6"
     },
     {
         question: "4)  What is 2+5= ?",
         lst:[3,9,5,6,7],
         ans: "7"
     },
     {
         question: "5)  What is 2+0= ?",
         lst:[4,9,5,6,2],
         ans: "2"
     }

 ]*/