<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags - 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 -->
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>quiz_app_project</title>
  </head>
  <body>

<div class='container-fluid text-center'>
<h1 class='question'>  here questions  ?</h1>
<input type='radio' name='answer_1' id='ans1' class='answer'> 
<label for='ans1' id='option1'>answer option1</label> 
<br>
<input type='radio' name='answer_1' id='ans2' class='answer'>
<label for='ans2' id='option2'>answer option2</label>
<br>
<input type='radio' name='answer_1'id='ans3' class='answer'>
<label for='ans3' id='option3'>answer option3</label> 
<br>
<input type='radio' name='answer_1' id='ans4' class='answer'>
<label for='ans4' id='option4'>answer option4</label>
<br>

<input type='submit' value='Next Question'id='submit'>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script>
const QuizDB=[
{
    question: "1)  What is 2+2= ?",
    a: "4",
    b: "5",
    c: "6",
    d: "7",
    ans: "ans1"
},
{
    question: "2)  What is 2+3= ?",
    a: "4",
    b: "5",
    c: "6",
    d: "7",
    ans: "ans2"
},
{
    question: "3)  What is 2+4= ?",
    a: "4",
    b: "5",
    c: "6",
    d: "7",
    ans: "ans3"
},
{
    question: "4)  What is 2+5= ?",
    a: "4",
    b: "5",
    c: "6",
    d: "7",
    ans: "ans4"
},
{
    question: "5)  What is 2+7= ?",
    a: "4",
    b: "5",
    c: "6",
    d: "9",
    ans: "ans4"
},
]

$(document).ready(function(){
var questtioncount=0;
let score=0;
const answers=document.querySelectorAll(".answer") //array 
const submit=document.querySelector("#submit")

const loadQuestion = ()=>{
     let questionlist=QuizDB[questtioncount]
        console.log("load question number", questtioncount)
        $(".question").text(questionlist.question)
        $("#option1").text(questionlist.a)
        $("#option2").text(questionlist.b)
        $("#option3").text(questionlist.c)
        $("#option4").text(questionlist.d)
}

loadQuestion();

const getcheckanswer= ()=>{
    let answer;
    answers.forEach((currentans) =>{
        if (currentans.checked){
            answer=currentans.id;
        }
    });
    return answer;
}

submit.addEventListener('click', ()=>{
    let checkanswer=getcheckanswer();
    if (QuizDB[questtioncount] && checkanswer == QuizDB[questtioncount].ans){
        console.log("id check   ")
        score++;
        console.log("score     "+score)

    };
    questtioncount++;

    if (questtioncount < QuizDB.length){
        loadQuestion();

    };

});
   
})



       /*   $("#submit").click(function(){
            answers.forEach(correctans)=>{
                if (correctans.checked){
                    console.log("right")
                
                }
            }


       /* var a=$('input[name=answer_'+i+']:checked').val()
        console.log(a);
        if (a==QuizDB[i].ans){
            console.log("right")
            score+=1;
        }
       // var x=$(".answer"):checked.val()
        //console.log(x)

        });
  };
       

       
   // })


});


/*
const question=document.querySelector(".question")
const a=document.querySelector("#option1")
const b=document.querySelector("#option2")
const c=document.querySelector("#option3")
const d=document.querySelector("#option4")
const submit=document.querySelector("#submit")
const answers=document.querySelectorAll(".answer") //array 

console.log(QuizDB[0]);

let questionCount=0;
let score=0;
const loadquestion = () => {
    question.innerText=QuizDB[questionCount].question;
    option1.innerText=QuizDB[questionCount].a;
    option2.innerText=QuizDB[questionCount].b;
    option3.innerText=QuizDB[questionCount].c;
    option4.innerText=QuizDB[questionCount].d;
}
loadquestion();

const getcheckanswer= ()=>{
let answer;
answers.forEach(currans)=>{
  
    if (currans.checked){
        answer=currans.id;
    }
}
return answer;

}

submit.addEventListener('click', ()=>{
const checkanswer= getcheckanswer();

if (checkanswer==QuizDB[questionCount].ans){
    score++
}
})*/


    </script>
  </body>
</html>