{% extends 'app1/base.html' %}
{% block content %}

<!doctype html>
{% load static %}

  <body class=" alert alert-info  ">
<div class="container-fluid   alert alert-info" id="signup-id" style="background-color: alert alert-info">
    <a class="btn btn-primary float-right my-2" href="{% url 'app1:logoutpage' %}">Logout</a>

    <hr> 
    <div class="row">
    <div class="col-md-4 ">
        <div class="card-body">
            <h1 class="card-title"> <b>Player details then start game </b></h1><hr class="border-dark">
            <br>
        <form action="" id="form-id" class="card-form" enctype="multipart/form-data">
            <label for="fname"><h5>First name:</h5></label><br>
            <input type="text" id="fname" name="fname" class="form-control" required><br>
            <label for="lname"><h5>Last name:</h5></label><br>
            <input type="text" id="lname" name="lname" class="form-control" required><br>
            <label><h5>Gender  : </h5></label><br>
            <select id="gender" class="form-control" required>
                <option></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <!-- <input type="radio" name="gender">Male
            <input type="radio" name="gender">Female-->
            <br><br>
            <h5> Date of Birth :</h5>
            <input type="text" id="date" class="form-control" required><br>
            <h5> Upload your photo here :</h5>
            <input type="file" class="form-control"  accept="image/*" name="image" id="file"  onchange="loadFile(event)">
            <br>
            <br>
            <input type="submit" value="Start Quiz" class="btn btn-success btn-lg">
        </form> </div>
    </div>
    <div class="col-md-6">
        <img src="{% static 'app1/images/quiz_image.jpg' %}" class="rounded mx-auto d-block" width="650">

    </div>
</div>
 </div>

<div class='container-fluid text-center '  style="background-color:lightgray" id="quiz-id">
<a class="btn btn-primary float-right my-2" href="{% url 'app1:logoutpage' %}">Logout</a>

    <hr>
    <div class="row">
        <div class="col-sm-8 border-right border-dark">
            <h2 > <b> Time : <div id="time-id"> </div></b></h2> 
            <h2 > <b> Progress Report</b></h2>
           
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" height="20px" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
                <br><br>
            </div>
            <h1 class='question'>  here questions  ?</h1>
            <div id="radio">pppppppppppppppppppp</div>
            <br>
            <input type='submit' value='Previous Question' id='previoussubmit' class="btn btn-success btn-lg my-3 float-left ">
        <input type='submit' value='Next Question' id='submit' class="btn btn-success btn-lg my-3 float-right">

        </div>
        <div class="col-sm-4">
            <div class="card">
            <h3>  <b>  Player Name :</b></h3><br>
            <img id="output" width="150" class="rounded mx-auto d-block" />

            <h3 id="firstname">First Name :-  </h3>
            <h3 id="lastname">Last Name :-  </h3>
            <h3 id="gendername">Gender :-</h3>
            <h3 id="datename">Date of Birth :-</h3>
            <a href=""  value="Play Again" onclick="location.reload()" class=" my-3 float-bottom">RESTART  GAME   </a>
         </div>
        </div>
    </div>
        </div>

<div class="container-fluid bg text-center text-danger " style="background-color:lightgray">
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" &times; data-dismiss="modal"></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <h1 class="text-center">Your Obtained Marks
            <div id="showscore" class="bg-info" ></div>

        </h>
            <br>
        <div class="container-fluid text-center" style="background-color:lightgray" id="result-id">
            <label style="color:black">Total Questions    </label>
            <span id="totalquestion"></span>
            <br>
            <label style="color:green">correct Questions    </label>
            <span id="correctquestion"></span>
            <br>
            <label style="color:red">wrong Questions    </label>
            <span id="wrongquestion"></span>
            <br>
            <label style="color:blue">Skip Questions    </label>
            <span id="skipquestion"></span>
            <br>
           
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    let QuizDB = [];
   $.ajax({
       url : "http://127.0.0.1:8000/quiz?q=true",
       success: function(data){
        QuizDB = data;
        console.log("success q db", QuizDB)
        loadQuestion();
       }
   })

    
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

$("#quiz-id").hide()

{% comment %} var x=0;
var timer=setInterval(function(){
    x+=1;
    $("#time-id").text(x)
},1000) {% endcomment %}
let time;
const total_time= 60
let sec = total_time;
let quiz_spent_time_in_mili_seconds = 0;
let allowed_quiz_time_in_mili_seconds = 2 * 60 *60 *1000;

let timer = setInterval(function () {
    quiz_spent_time_in_mili_seconds += 1000
    if (quiz_spent_time_in_mili_seconds < allowed_quiz_time_in_mili_seconds) {
        // Allow to run the quiz
        let remaining_time_in_mili_seconds = allowed_quiz_time_in_mili_seconds - quiz_spent_time_in_mili_seconds
        let remaining_time_in_seconds = (remaining_time_in_mili_seconds / 1000) % 60;
        let remaining_time_in_minutes = parseInt((remaining_time_in_mili_seconds / 1000) / 60) % 60;
        let remaining_time_in_hours = parseInt((remaining_time_in_mili_seconds / 1000) / 60 / 60);
        let remaining_time_display = remaining_time_in_hours.toString() + ':' + remaining_time_in_minutes.toString() + ':' + remaining_time_in_seconds.toString()
        $('#time-id').html(remaining_time_display)
    } else {
        clearInterval(timer)
        // Show Time Finished Div
    }
}, 1000)




var questtioncount=0;

function getresult(){
    let score=0;
    let skip=0;
    let wrong=0;
    
    for (var q of QuizDB){
        if(q.status=='correct'){
            score++;
        }
        else if(q.status=='wrong'){
            wrong++;
        }
        else{
            skip++;
        }
    }
    console.log(score,wrong,skip)
    $("#totalquestion").text(QuizDB.length)
    $("#correctquestion").text(score)
    $("#wrongquestion").text(wrong)
    $("#skipquestion").text(skip)
    $("#showscore").text("Your score : "+score+"/"+QuizDB.length)

    $("#result-id").show();
    $("#modell").show()

}
const answers=document.querySelectorAll(".answer") //array 
const submit=document.querySelector("#submit")
const psubmit=document.querySelector("#previoussubmit")
var date=  $("#date").datepicker( {defaultDate: ''}
);
var gndr=$("#gender").select2()

$("#form-id").submit(function(e){
    var f=$("#fname").val()
    $("#firstname").text(f)
    var l=$("#lname").val()
    $("#lastname").text(l)
    var g=$("#gender").val()
    $("#gendername").text(g)
    var d= $("#date").val()
    $("#datename").text(d)
    //var d= $("#image-id").val()
    //$("#image").val(d)
    $imgsrc = $('#image-id').attr('src');
    $("#image").attr("src",$imgsrc);

    $("#signup-id").hide()
    $("#quiz-id").show()
    e.preventDefault();
})


//this function to used loadquestion
const loadQuestion = ()=>{
    $("#modell").hide()
    if(questtioncount == 0){
        $("#result-id").hide();
        // $("#modell").hide();
    }
    if (questtioncount==0){
        $("#previoussubmit").hide()
    }else{
        $("#previoussubmit").show()
    }
    let questionlist=QuizDB[questtioncount];
    console.log("q DB ", QuizDB)
    console.log("quesion",questtioncount, questionlist)
    let q=questionlist.question;
    let option_list = questionlist.option_list;
    let answer_values = questionlist.correct_option;
    $("#radio").empty();
    for(var op of option_list){
        console.log("op => ", op)
    }
    console.log("8********88888888888888888888", option_list)
    for(var i=0; i<option_list.length;i++){
        if (answer_values.length === 1) {
            // Logic to display radio button
                $(".question").text(q)
                let option_txt = `<input type='radio' name='answer_1' value='${option_list[i]['option_value']}' class='answer' class='float-left'> 
                <label for='ans1' id='option1'>${option_list[i]['option_text']}</label><br/>`
                $("#radio").append(option_txt)
            
        } else {
            // Logic to display checkbox
            $(".question").text(q)
            let option_txt = `<input type='checkbox' name='answer_11' value='${option_list[i]['option_value']}' class='answer1' class='float-left'> 
            <label for='ans1' id='option1'>${option_list[i]['option_text']}</label><br/>`
            $("#radio").append(option_txt)
        }
    }
    
}     

    const deselect = () =>{
        answers.forEach((currentans) =>{currentans.checked = false;})
    }

    //this function to use previous button
    $("#previoussubmit").click(function(){
        questtioncount-=1;
       
        $("#submit").val("Next Question")
        $(".progress-bar").css("width", String((questtioncount)*100/QuizDB.length)+'%')
        loadQuestion();
    })


    const getcheckanswer= (correct_answer)=>{
        // check checkbox value
        let flag_value=false
        if(correct_answer.length>1){
           
            var checkboxvalue = $("input[name=answer_11]:checked")
            if (checkboxvalue.length==0){
                return 'skip';
            }
            var list=[]
            for(var i=0;i<checkboxvalue.length;i++){
                var  x = $(checkboxvalue[i]).val()
                list.push(x)
            }
            if(list.length==correct_answer.length){
                for(var i=0;i<correct_answer.length;i++){
                var index=correct_answer.indexOf(list[i])
                    if(index<0){
                        flag_value=false;  
                        break
                    }else{
                        flag_value=true
                    }
                }
            }
           return flag_value ? "correct" : "wrong"
        }else{
            //check radio button value
            let selected_answer = $('.answer:checked')
            if(selected_answer.length==0){
                return 'skip';
            }
            var c=selected_answer.val()
            if( c == correct_answer){
                return 'correct'
            }else{
                return 'wrong'
            }
        }
    }
//this function to used next question and show answer

$('#submit').click(function(e){
    console.log("buttonnnnnnnnnnnnnnnn")
    if(questtioncount >= QuizDB.length){
        getresult()
        $("#myModal").modal('show')

        return false
    }
    
        

    let current_question = QuizDB[questtioncount];
    let checkanswer=getcheckanswer(current_question.answer_values);
    $(".progress-bar").css("width", String((questtioncount+1)*100/QuizDB.length)+'%')
    QuizDB[questtioncount]['status'] = checkanswer
    $("#radio").html("")
    questtioncount++;
    deselect()
    if (questtioncount < QuizDB.length){
        loadQuestion();
        if (questtioncount == 4){
            $("#submit").val("SHOW RESULT")
        }
    }
});
    
    </script>

    {% endblock content %}
 